<div class="cocktail-item">
	<div class="cocktail-icon">
		<img
			*ngIf="Cocktail().isAlcoholic === true"
			src="./assets/icons/drink.svg"
			alt="Alcoholic drink"
			width="24"
			height="24"
		/>
		<img
			*ngIf="Cocktail().isAlcoholic === false"
			src="./assets/icons/no_drink.svg"
			alt="Non-alcoholic drink"
			width="24"
			height="24"
		/>
	</div>

	<div class="cocktail-details">
		<h3>{{ Cocktail().name }}</h3>
		<p class="cocktail-category">
			{{ Cocktail().category }}
		</p>
	</div>
	<div class="add-icons">
		<i
			class="pi pi-arrow-right"
			style="font-size: 1.5rem;"
			(click)="navigateToCocktail({ id: Cocktail().id, add: 'only' })"
			title="View Details"
		></i>
		<i
			class="pi pi-plus"
			style="font-size: 1.5rem;"
			(click)="navigateToCocktail({ id: Cocktail().id, add: 'add' })"
			title="Add Cocktail"
		></i>
	</div>
</div>
