<div class="cocktail-item">
  <div class="cocktail-icon">
    <!-- Use image elements with ngIf instead of custom PrimeNG icons -->
    <img *ngIf="Cocktail.alcoholic === 'Alcoholic'" src="./assets/icons/drink.svg" alt="Alcoholic drink" width="24" height="24">
    <img *ngIf="Cocktail.alcoholic === 'Non alcoholic'" src="./assets/icons/no_drink.svg" alt="Non-alcoholic drink" width="24" height="24">
  </div>
  
  <div class="cocktail-details">
    <h3>{{ Cocktail.name }}</h3>
    <p *ngIf="Cocktail.instructions?.it">{{ Cocktail.instructions.it }}</p>
    <p class="cocktail-category">{{ Cocktail.category }} · {{ Cocktail.alcoholic }}</p>
  </div>
</div>