/* You can add global styles to this file, and also import other style files */
@use "primeicons/primeicons.css";
@tailwind base;

:root {
	--primary-color: #09122c;
	--secondary-color: #872341;
	--tertiary-color: #be3144;
	--quaternary-color: #f2c57c;
	--accent-color: #4caf50;
	--warning-color: #ffa500;
	--error-color: #ff3d3d;
	--text-color: #000000;
	--border-color: linear-gradient(var(--primary-color), var(--accent-color));
	--content-color: linear-gradient( var(--tertiary-color), var(--quaternary-color) );
	--p-toolbar-background: none;
}

// Responsive breakpoints

// $palette2
body.summer-theme {
	--primary-color: #ff9d3d;
	--secondary-color: #ffbd73;
	--tertiary-color: #feee91;
	--quaternary-color:	#c4e1f6;
	--accent-color: #4caf50;
	--warning-color: #ffa500;
	--error-color: #ff3d3d;
	--border-color: linear-gradient(var(--primary-color), var(--accent-color));
	--content-color: linear-gradient( var(--tertiary-color), var(--quaternary-color) );
}

html {
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

/* Apply base styles to body - Note: body styling moved to background-effects.scss */

body.dark-theme,body.summer-theme {
	min-height: 100vh;
	background: linear-gradient(145deg, var(--primary-color), var(--secondary-color));
	animation: liquid-bg 15s ease infinite;
}

button-group {
	width: 100%;
}
