<router-outlet>
	<div style="width: 180px; height: 180px; position: fixed; z-index: -1; top: 50%; left: 50%; transform: translateX(150px) translateY(-320px);">
		<img src="assets/login/limone.png" class="lemon-slice" alt="Fetta di limone">
	</div>
	<div style="width: 180px; height: 180px; position: fixed; z-index: -1; top: 50%; left: 50%; transform: translateX(-350px) translateY(90px);">
		<img src="assets/login/menta.png" class="mint-leaf" alt="Foglia di menta" style="transform: rotate(-45deg);">
	</div>
</router-outlet>
